.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border: 4px solid var(--border-color);
  border-radius: 8px;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.column-header {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 5px solid var(--border-color);
  background-color: var(--border-color);
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.column-tasks {
  display: flex;
  flex-direction: column;
  width : 85%;
  gap: 8px;
}

.column-footer {
  border: none;
  text-align: center;
  margin-top: 10px;
}

.add-Button {
  text-align: center;
  background-color: #000000;
  border: 5px solid var(--border-color);
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.add-Button:hover {
  background-color: var(--border-color);
  color: #ffffff;
}

.button-icon {
  font-size: 16px; 
  color: #ffffff;
}