.task {
  background-color: #7e7b7b;
  border: 3px solid #4009be;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.task-header {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  width: 100%;
  text-align: left;
  overflow-wrap: break-word;
}

.task-description {
  font-size: 16px;
  color: #ffffff;
  white-space: normal;
  overflow-wrap: break-word;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Arial', sans-serif;
}

.task select {
  border: 3px solid #616063;
  border-radius: 4px;
  font-size: 18px;
  background-color: #000000;
  color: #ffffff;
  width: 25%;
}

.status-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 1rem;
}

.task-footer button {
  background-color: #616063;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}

.task-footer button:hover {
  background-color: #494949;
}
