.task {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #1b1919;
  border: 4px solid var(--border-color);
  border-radius: 8px;
  color: #ffffff;
}

.task-header {
  width: 100%;
  text-align: left;
  overflow-wrap: break-word;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.task-description {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #ffffff;
  white-space: normal;
  overflow-wrap: break-word;
  font-family: 'Arial', sans-serif;
}

.task select {
  border: 3px solid #616063;
  border-radius: 4px;
  background-color: #000000;
  font-size: 18px;
  color: #ffffff;
  padding: 8px;
}

.task-body-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task-body-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 16px;
}

.task-footer button {
  padding: 8px 16px;
  background-color: #616063;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}

.task-footer button:hover {
  background-color: #494949;
}

.due-date {
  padding-left: 35px;
}
